<form class="container1" action = '/home/create' method='POST'>
 <div class="bd2">
   <div class="form-group">
     <label for="exampleFormControlInput1">Travel Theme</label>
     <input type="string" name="theme" class="form-control" id="traveltheme" placeholder="Type Travel Thema">
   </div>
   <div class="form-group">
     <label for="exampleFormControlSelect1">Guide Name</label>
     <input type="string" name="guide" class="form-control" id="gidename" placeholder="Type Guide Name">
   </div>
   <div class="form-group">
     <label for="exampleFormControlSelect2">Language</label>
     <select multiple class="form-control" name="language" id="language">
       <option>Korean</option>
       <option>English</option></option>
       <option>Chinese</option>
       <option>Spanish</option>
       <option>Japanese</option>
     </select>
   </div>
   <div class="form-group">
     <label for="exampleFormControlSelect2">Location</label>
     <select multiple class="form-control" name="region" id="place">
       <option>Seoul</option>
       <option>Busan</option>
       <option>Jeonju</option>
       <option>Gyeongju</option>
       <option>Daegu</option>
     </select>
   </div>
   <div class="form-group">
     <label for="exampleFormControlTextarea1">Travel Content</label>
     <textarea class="form-control" name="content" id="travelcontent" rows="3" placeholder="Type Travel Content"></textarea>
   </div>
   <div class="b2">
   <button type="submit" class="btn btn-primary">Submit</button>
 </div>
</div>
</form>

